<!-- <div class="row mt-5">
  <div class="col-md-6 m-auto">
    <div class="card card-body">
      <h1 class="text-center mb-3">
        <i class="iconoir-add-user"></i> Register
      </h1>
      <%- include("partials/messages") -%>
      <form action="/users/register" method="POST">
        <div class="form-group">
          <label for="name">Name</label>
          <input type="name" id="name" name="name" class="form-control" placeholder="Enter Name" value="<%= typeof name != 'undefined' ? name : '' %>" />
        </div>
        <div class="form-group">
          <label for="email">Email</label>
          <input type="email" id="email" name="email" class="form-control" placeholder="Enter Email" value="<%= typeof email != 'undefined' ? email : '' %>" />
        </div>
        <div class="form-group">
          <label for="password">Password</label>
          <input type="password" id="password" name="password" class="form-control" placeholder="Create Password" value="<%= typeof password != 'undefined' ? password : '' %>" />
        </div>
        <div class="form-group">
          <label for="password2">Confirm Password</label>
          <input type="password" id="password2" name="password2" class="form-control" placeholder="Confirm Password" value="<%= typeof password2 != 'undefined' ? password2 : '' %>" />
        </div>
        <button type="submit" class="btn btn-primary btn-block">
          Register
        </button>
      </form>
      <p class="lead mt-4">Have An Account? <a href="/users/login">Login</a></p>
    </div>
  </div>
</div> -->
<!DOCTYPE html>
<html lang="en" class="h-100">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="" />
    <meta
      name="author"
      content="Mark Otto, Jacob Thornton, and Bootstrap contributors"
    />
    <meta name="generator" content="Hugo 0.108.0" />
    <title>Register</title>
    <link href="/bootstrap.css" rel="stylesheet" />
    <link rel="stylesheet" href="/styles.css" />
  </head>
  <body class="text-center h-100 d-flex align-items-center py-5">
    <main class="form-signin w-100 m-auto">
      <form action="/users/register" method="POST">
        <img
          class="mb-4 rounded-3"
          src="/CarLogoDark.png"
          alt="Carpooly Logo"
          width="150"
          height="auto"
        />
        <h1 class="h3 mb-3 fw-normal">Please Register</h1>
        <% if(typeof errors !== "undefined") {errors.forEach((error)=>{ %>
        <div
          class="alert alert-warning alert-dismissible fade show"
          role="alert"
        >
          <%= error.msg %>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="alert"
            aria-label="Close"
          ></button>
        </div>
        <% })}; %> <% if(success_msg && success_msg.length > 0 ){ %>
        <div
          class="alert alert-success alert-dismissible fade show"
          role="alert"
        >
          <%= success_msg %>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="alert"
            aria-label="Close"
          ></button>
        </div>
        <% } %> <% if(error_msg && error_msg.length > 0){ %>
        <div
          class="alert alert-warning alert-dismissible fade show"
          role="alert"
        >
          <%= error_msg %>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="alert"
            aria-label="Close"
          ></button>
        </div>
        <% } %> <% if(error && error.length > 0){ %>
        <div
          class="alert alert-warning alert-dismissible fade show"
          role="alert"
        >
          <%= error %>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="alert"
            aria-label="Close"
          ></button>
        </div>
        <% } %>

        <div class="form-floating input-top">
          <input
            type="text"
            class="form-control"
            id="name"
            name="name"
            placeholder="name@example.com"
          />
          <label for="name">Name</label>
        </div>
        <div class="form-floating input-middle">
          <input
            type="email"
            class="form-control"
            id="email"
            name="email"
            placeholder="name@example.com"
          />
          <label for="email">Email address</label>
        </div>
        <div class="form-floating input-middle">
          <input
            type="password"
            class="form-control"
            id="password"
            name="password"
            placeholder="Password"
          />
          <label for="password">Password</label>
        </div>
        <div class="form-floating input-bottom mb-4">
          <input
            type="password"
            class="form-control"
            id="password2"
            name="password2"
            placeholder="Confirm Password"
          />
          <label for="password2">Confirm Password</label>
        </div>

        <button class="w-100 btn btn-lg btn-primary" type="submit">
          Register
        </button>
      </form>
      <div class="my-5">
        <a href="/" class="text-muted">Back to Home</a>
      </div>
      <p class="lead mt-4">Have An Account? <a href="/users/login">Login</a></p>
    </main>
  </body>
</html>
